mixin parthnerTableRow(date, wallet, id, bonus, levels, total)
    .divTableRow
        .divTableCell
            .date #{date}
        .divTableCell
            .wallet-block-wrapper
                .wallet-wrapper
                    .wallet-number #{wallet}
                .wallet-link
                    a(href="#!").copy
                        svg(width="16", height="16", viewBox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M13.3867 0.142578H6.47266C5.5034 0.142578 4.71484 0.931133 4.71484 1.90039V3.6582H5.88672V1.90039C5.88672 1.5773 6.14957 1.31445 6.47266 1.31445H13.3867C13.7098 1.31445 13.9727 1.5773 13.9727 1.90039V8.69727C13.9727 9.02035 13.7098 9.2832 13.3867 9.2832H11.7461V10.4551H13.3867C14.356 10.4551 15.1445 9.66652 15.1445 8.69727V1.90039C15.1445 0.931133 14.356 0.142578 13.3867 0.142578ZM8.81641 4.83008H1.90234C0.933086 4.83008 0.144531 5.61863 0.144531 6.58789V13.3848C0.144531 14.354 0.933086 15.1426 1.90234 15.1426H8.81641C9.78566 15.1426 10.5742 14.354 10.5742 13.3848V6.58789C10.5742 5.61863 9.78566 4.83008 8.81641 4.83008ZM9.40234 13.3848C9.40234 13.7079 9.13949 13.9707 8.81641 13.9707H1.90234C1.57926 13.9707 1.31641 13.7079 1.31641 13.3848V6.58789C1.31641 6.2648 1.57926 6.00195 1.90234 6.00195H8.81641C9.13949 6.00195 9.40234 6.2648 9.40234 6.58789V13.3848Z", fill="white")
                    a(href="#!").link
                        svg(width="12", height="13", viewBox="0 0 12 13", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M9.39453 10.8833H1.89453C1.55078 10.8833 1.26953 10.6021 1.26953 10.2583V2.7583C1.26953 2.41455 1.55078 2.1333 1.89453 2.1333H5.01953C5.36328 2.1333 5.64453 1.85205 5.64453 1.5083C5.64453 1.16455 5.36328 0.883301 5.01953 0.883301H1.26953C0.575781 0.883301 0.0195312 1.4458 0.0195312 2.1333V10.8833C0.0195312 11.5708 0.582031 12.1333 1.26953 12.1333H10.0195C10.707 12.1333 11.2695 11.5708 11.2695 10.8833V7.1333C11.2695 6.78955 10.9883 6.5083 10.6445 6.5083C10.3008 6.5083 10.0195 6.78955 10.0195 7.1333V10.2583C10.0195 10.6021 9.73828 10.8833 9.39453 10.8833ZM6.89453 1.5083C6.89453 1.85205 7.17578 2.1333 7.51953 2.1333H9.13828L3.43203 7.83955C3.18828 8.0833 3.18828 8.47705 3.43203 8.7208C3.67578 8.96455 4.06953 8.96455 4.31328 8.7208L10.0195 3.01455V4.6333C10.0195 4.97705 10.3008 5.2583 10.6445 5.2583C10.9883 5.2583 11.2695 4.97705 11.2695 4.6333V1.5083C11.2695 1.16455 10.9883 0.883301 10.6445 0.883301H7.51953C7.17578 0.883301 6.89453 1.16455 6.89453 1.5083Z", fill="white")
        .divTableCell
            if id
                a(href="./account.html").activity-id #{id}
        .divTableCell #{bonus}
        .divTableCell #{levels}
        .divTableCell #{total}

.stats-content.parent-content.dropdownParent
    .title-wrapper
        h1.title-1 Partner bonus
        .title-wrapper-block
            .activity-id ID 1
            .filters.dropdownItem Filters
    .filter-block-dropdown.dropdownBlock
        .filter-block
            form(action="")
                .input-field-group 
                    label(for="level")
                        span Level
                        select#mySelect
                            option(value="lvl1") 1
                            option(value="lvl2") 2
                            option(value="lvl3") 3
                            option(value="lvl4") 4
                            option(value="lvl5") 5
                            option(value="lvl6") 6
                            option(value="lvl7") 7
                            option(value="lvl8") 8
                            option(value="lvl9") 9
                            option(value="lvl10") 10
                            option(value="lvl11") 11
                            option(value="lvl2") 12
                            option(value="lvl3") 13
                            option(value="lvl4") 14
                            option(value="lvl15") 15
                            option(value="lvl16") 16
                .input-field-group
                    label(for="submit")
                        input(type="submit" value="Apply filters").btn.btn-blue
                    label(for="reset")
                        input(type="button" value="Reset filters").btn.btn-gray
    .stats
        .divTable.custom-scroll-width
            .divTableBody
                .divTableRow.divTableHeader
                    .divTableCell Date
                    .divTableCell Wallet
                    .divTableCell ID
                    .divTableCell Partner bonus %
                    .divTableCell Express levels
                    .divTableCell Total bonus received
                .divTableRowWrapper.custom-scroll
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
                    +parthnerTableRow('2022.04.27 11:05', '0x4c90E...52B', 'ID 362965', '0', '2',  '0.0208 BNB')
    .stats.parthner
        .divTable.divTableInvite.custom-scroll-width
            .divTableBody
                .divTableRow.divTableHeader
                    .divTableCell Date
                    .divTableCell Wallet
                    .divTableCell ID
                    .divTableCell Partner bonus %
                    .divTableCell Express levels
                    .divTableCell Total bonus received
        a(href="#!").btn Invite new partners for extra bonuses